* {
	margin: 0;
	padding: 0;
}

.page {
	width: 100%;
	height: 1000px;
	background-color: #099;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.8em;
	color: 616161;
}

.page .header {
	height: 10%;
	background: url(images/img01.jpg) repeat-x left top;
	background-size: 80px 120px;
}

.page .header .title {
	width: 60%;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}

.page .header .title .login {
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}

.page .header .title .error {
	color: red;
}

.page .header .title a {
	float: right;
}

.page .content {
	height: 90%;
	background-color: #FFFFFF;
}

.page .content .error {
	color: red;
}

.page .content .signup {
	width: 20%;
	height: 100%;
	float: left;
	margin-left: 500px;
}

.page .content .signup div {
	width: 200px;
	height: 28px;
}

.page .content .signup .left {
	width: 50%;
	height: 100%;
	text-align: left;
	margin-top: 10px;
}

.page .content .signup .right{
	width: 50%;
	height: 100%;
	text-align: left;
	margin-top: 10px;
}

.page .content .signupError {
	width: 40%;
	height: 100%;
	float: left;
	margin-top: 10px;
	margin-left: 25px;
}

.page .content .signupError div {
	width: 400px;
	height: 28px;
}

.page .content .left {
	height: 100%;
	width: 10%;
	float: left;
}

.page .content .left .profile {
	width: 100%;
	height: 18%;
	text-align: center;
	margin-top: 20px;
}

.page .content .left .menu {
	width: 100%;
	height: 82%;
	text-align: left;
	margin-left: 30px;
}

.page .content .left .menuCampaign {
	width: 100%;
	height: 7%;
	text-align: left;
	margin-left: 30px;
}

.page .content .left .dices{
	width: 100%;
	height: 20%;
	text-align: left;
	margin-left: 30px;
}

.page .content .left .dices .number{
	width: 40%;
	float: left;
	margin-top: 5px;
}

.page .content .left .dices .number input{
	width: 50%;
	height: 22px;
	margin-left: 20px;
	margin-top: 2px;
}

.page .content .left .dices .roll{
	width: 25%;
	float: left;
	margin-top: 5px;
}

.page .content .left .dices .roll img{
	float: left;
	margin-top: 2px;
}

.page .content .left .dices .plus{
	width: 10%;
	float: left;
	margin-top: 5px;
}

.page .content .left .dices .plus button{
	margin-top: 2px;
	width: 20px;
	height: 22px;
}

.page .content .left .dices .rollResult{
	width: 100%;
	float: left;
	margin-top: 5px;
}

.page .content .left .campaignCreatedList {
	width: 100%;
	height: 30%;
	overflow: auto;
}

.page .content .left .campaignCreatedList div {
	margin-left: 20px;
	margin-top: 10px;
}

.page .content .middle {
	height: 100%;
	width: 60%;
	float: left;
}

.page .content .middle .campaign {
	height: 100%;
	width: 60%;
	float: left;
	margin-left: 150px;
}

.page .content .middle .campaign .campaignHeader {
	height: 8%;
	width: 100%;
	margin-top: 10px;
}

.page .content .middle .campaign .campaignHeader .campaignField{
	margin-top: 10px;
}

.page .content .middle .campaign .campaignBody {
	height: 90%;
	width: 100%;
}

.page .content .middle .campaign .campaignBody .campaignFriends{
	margin-top: 10px;
}

.page .content .middle .campaign .campaignBody .campaignFriends .campaignFriend{
	margin-top: 5px;	
}

.page .content .middle .search {
	width: 100%;
	height: 10%;
	text-align: left;
	margin-top: 20px;
	margin-left: 150px;
}

.page .content .middle .search .resultDisplay {
	width: 300px;
	height: 300px;
	background-color: transparent;
	z-index: 1;
	position: absolute;
	
}

.page .content .middle .search input {
	width: 50%;
	height: 26%;
}

.page .content .middle .activity {
	width: 100%;
	height: 90%;
	text-align: left;
	margin-left: 150px;
}

.page .content .middle .charactersheet {
	width: 100%;
	height: 57%;
	margin-left: 150px;
}

.page .content .middle .chat {
	width: 60%;
	height: 43%;
	margin-left: 150px;
}

.page .content .middle .chat input{
	width: 80%;
	margin-top: 10px;
}

.page .content .middle .chatView {
	width: 100%;
	height: 40%;
	border: 1px solid #000;
	overflow: auto;
}

.page .content .right {
	height: 100%;
	width: 30%;
	float: left;
}

.page .content .right .friends {
	width: 100%;
	height: 30%;
}

.page .content .right .friends .friendsList {
	width: 100%;
	height: 85%;
	margin-top: 10px;
	overflow: auto;
}

.page .content .right .friends .friendsList img {
	margin-top: 10px;
}

.page .content .right .campaign {
	width: 100%;
	height: 70%;
}

.page .content .right .campaign .campaignList {
	width: 80%;
	height: 50%;
	margin-top: 10px;
	overflow: auto;
}

.page .content .right .campaign .campaignList img {
	margin-top: 10px;
}

h1, h2, h3 {
	color: #A66100;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
}

a {
	text-decoration: none;
	color: #A66100;
}

a img {
	color: black;
}

.clear { clear:both; }

.recentActivity { margin-top:10px; }

.activity table { width:100%; }
.activity td.img { width:8%;  }
.activity td.friendData h3 { margin:3px;}
